/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --cover-image: url("../images/cover-image-dark.png");
  --cover-color: #000028;
  --rectangle-element: 1px solid var(--btn-color);

  --min-height: 668px;
  --fs-accent-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --page-padding: 10px;

  --accent-color: #ff0070;
  --btn-color: #ff0070;
  --btn-outline: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --accent-text-color: #000028;
  --list-title-color: #ff0070;
}

@media (width >= 768px) {
  :root {
    --min-height: 1024px;
    --fs-accent-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-padding: 20px;
  }
}

@media (width >= 1024px) {
  :root {
    --min-height: 768px;
    --fs-accent-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-padding: 20px;
  }
}
